<div class="upper">
	<div class="link-list">
		<div class="logo">
			<a href="#">fundMePlease</a>
		</div>
		<a href="#">About Us</a>
		<a href="#">Help Center</a>
		<a href="#">Contact</a>
	</div>
	<div class="link-list">
		<p class="title">Get Started</p>
		<a href="#">How it works?</a>
		<a href="#">Pricing and Fees</a>
		<a href="#">Frequently Asked Questions</a>
	</div>
	<div class="link-list">
		<p class="title">Categories</p>
		<a href="#">Technology &amp; Science</a>
		<a href="#">Charity &amp; Social Service</a>
		<a href="#">Life &amp; Arts</a>
		<a href="#">Cultural &amp; Tradition</a>
	</div>
	<div class="link-list">
		<p class="title">Top Fundraisers</p>
		<a href="#">[T&amp;S] Fake Biometric Signature Generator</a>
		<a href="#">[C&amp;SS] Feed the dogs</a>
		<a href="#">[L&amp;A] Animal Rights</a>
		<a href="#">[C&amp;T] Colorful Campus</a>
	</div>
</div>
<div class="lower">
	<div class="links-policy">
		<span><a href="#">Terms of use</a></span>
		<span><a href="#">Privacy Policy</a></span>
		<span><a href="#">Disclaimer</a></span>
		<span><a href="#">Legal</a></span>
	</div>
	<div class="copyright">
		<p>Copyright &copy; fundMePlease 2018</p>
	</div>
</div>
